@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

:root, html, body {
    height: 100%;
}

body {
    background-color: #645f5c;
    display: flex;
    justify-content: center;
}

.container {
    margin: 1.5rem 0;
    font-size: 16px;
    width: 90vw;
    height: fit-content;
    max-width: 800px ;
    padding: 3em 1.8em;
    background-color: #1c1917;
    border-radius: .6em;
    box-shadow: 1em 1.5em 2em rgba(0, 0, 0, 0.34);
}

#search-container {
    display: flex;
    gap: .6rem;
}

#search-container input, #search-container button {
    font-size: .9em;
    outline: none;
    border-radius: 0.3em;
}

#search-container input {
    background-color: transparent;
    border: 1px solid #a0a0a0;
    color: #fff;
    padding: .7em;
}

#search-container input:focus {
    border-color: #fff ;
}

#movie-name {
    width: 50%;
}

#movie-year {
    width: 30%;
}

#search-container button {
    background-color: #2f2c2a;
    color: #a0a0a0;
    border: none;
    cursor: pointer;
    transition: .3s ease-in-out;
    width: 20%;
}

#search-container button:hover {
    color: #1c1917;
    background: beige;
}

#result {
    color: white;
}

.info {

    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.2em;
}


.poster {
    width: auto;
    border-radius: .6rem;
    max-height: 450px;
}

h2 {
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: 0.06em;
}

.rating {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6em;
    margin:0.6em 0 0.9em 0;
}

.rating img {
    width: 1.2em;
}

.rating h4 {
    display: inline-block;
    font-size: 1.1em;
    font-weight: 500;
}

.details {
    display: flex;
    font-size: 0.95em;
    gap: 1em;
    justify-content: center;
    margin: 0.6em 0;
    font-weight: 200;
    color: #a0a0a0;
}

.genre {
    display: flex;
    justify-content: space-around;
}

.genre div {
    border: 1px solid #a0a0a0;
    font-size: 0.75em;
    padding: 0.4em 1.6em;
    font-weight: 300;
    border-radius: 0.4em;
}

h3 {
    font-weight: 400;
    margin-top: 1.2em;
}

p {
    font-size: .9rem;
    font-weight: 200;
    line-height: 1.8em;
    text-align: justify;
    color: #a0a0a0;
}

.message {
    text-align: center;
}

.info-text {
    padding: 0 1.5rem;
}

@media screen and (max-width: 800px) {
    .info {
        flex-direction: column;
        padding-top: 1.5rem;
        gap: 1.2rem;
    }

    .poster {
        max-height: 300px;
        width: auto;
    }
}

@media screen and (max-width: 600px) {
    .container {
        font-size: 14px;
    }
    .poster {
        margin: auto;
        width: auto;
        max-height: 20em;
    }

    .info {
        grid-template-columns: 1fr;
    }
}